<!-- <p>about works!</p> -->
<div class="holder">
  <article>
    <img src="../../assets/ivan.jpg" alt="" />
    <!-- <p>Ivan Wolyniec is a Front End developer in Hamtramck, MI. He loves </p> -->
  </article>
  <article>
    <img src="../../assets/reu.png" alt="" />
    <!-- <p>Ivan Wolyniec is a Front End developer in Hamtramck, MI. He loves </p> -->
  </article>
  <article>
    <img src="../../assets/kenney.jpg" alt="" />
    <!-- <p>Ivan Wolyniec is a Front End developer in Hamtramck, MI. He loves </p> -->
  </article>
</div>
