/* .linkyboy {
  max-height: 50px;
} */
.logo {
  width: 50px;
  filter: invert(100%);
}
.logo-text {
  position: fixed;
  top: -25px;
  left: 50px;
  height: 100px;
}
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  /* z-index: 2000; */
  /* background-color: lightgray; */
  background-color: #be2038;
  /* border-bottom: 1px solid black; */
}
.userDisp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  color: white;
  text-decoration: none;
}
.userDisp span {
  padding-left: 10px;
}
.spacer {
  /* 
    THE SPACER IS TO MAKE SURE NOTHING DISAPPEARS BEHIND
    THE NAV BARS
*/
  height: 55px;
}
/*
    TO DO: TOGGLE CLASS BASED ON CURRENT PAGE
 */
.currentPage {
  background-color: white;
}
.footerNav {
  /* width: 100vw; */
  position: fixed;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: lightgray; */
  background-color: #be2038;

  /* border-top: 1px solid black; */
}
.homeLink {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
}
@media screen and (min-width: 700px) {
  .footerNav {
    top: 0;
    bottom: auto;
    height: 50px;
    max-width: 700px;
    /* justify-content: center; */
    margin: 0 auto;
  }
}
