/* .linkyboy {
  max-height: 50px;
} */
.logo {
  width: 50px;
  filter: invert(100%);
}

.logo-text {
  position: fixed;
  top: -25px;
  left: 50px;
  height: 100px;
}

.material-icons {
  width: 24px;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 4;
  right: 0;
  /* z-index: 2000; */
  /* background-color: lightgray; */
  background-color: #be2038;
  /* border-bottom: 1px solid black; */
}

.userDisp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  color: white;
  text-decoration: none;
}

.userDisp span {
  padding: 0 10px;
}

.spacer {
  /* 
    THE SPACER IS TO MAKE SURE NOTHING DISAPPEARS BEHIND
    THE NAV BARS
*/
  height: 56px;
}

/*
    TO DO: TOGGLE CLASS BASED ON CURRENT PAGE
 */
.currentPage {
  background-color: white;
}

.footerNav {
  /* width: 100vw; */
  position: fixed;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: lightgray; */
  background-color: #be2038;
  height: 46px;

  z-index: 5;
  /* border-top: 1px solid black; */
}

.homeLink {
  /* margin: 10px 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* display: grid; */
  align-items: center;
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.homeLink.active {
  color: rgba(255, 255, 255, 1);
  border-bottom: 2px solid white;
  border-top: none;
}

.homeLink:hover {
  color: rgba(255, 255, 255, 1);
}

.homeLink i {
  margin: 0 auto;
}

@media screen and (min-width: 700px) {
  .footerNav {
    top: 0;
    bottom: auto;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    max-width: 500px;
    /* justify-content: center; */
    margin: 0 auto;
  }
}

span {
  font-family: "Bebas Neue", cursive;
}

.userDisp span {
  padding: 1 10px;
  color: #ffffe6;
  margin-top: 3px;
}
