<form name="signInForm" action="" *ngIf="signIn === 0" (submit)="signMeIn()">
  <label for="emailField">Email: </label>
  <input
    name="emailField"
    type="email"
    placeholder="example@me.com"
    [(ngModel)]="userEmail"
  />
  <label for="passwordField">Password: </label>
  <input name="passwordField" type="password" [(ngModel)]="userPassword" />
  <button type="submit">Sign in</button>
  <a (click)="signIn = 1">not a user yet?</a>
</form>
<form name="signUpForm" action="" *ngIf="signIn === 1" (submit)="signMeUp()">
  <label for="nameField">Name: </label>
  <input name="nameField" type="text" placeholder="Sarah" />
  <label for="emailField">Email: </label>
  <input name="emailField" type="email" placeholder="example@me.com" />
  <label for="passwordField">Password: </label>
  <input name="passwordField" type="password" />
  <button type="submit">Sign me up</button>
  <a (click)="signIn = 0">already a user?</a>
</form>
<h3 *ngIf="signIn === 3">welcome, {{ userName }}</h3>
