.thing {
  margin: 0 auto;
  width: 80vw;
}
.addBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  width: 97vw;
  padding: 10px;
}

.buttonBar {
  display: flex;
  justify-content: space-evenly;
}

.container {
  max-width: 700px;
  display: flex;  
  align-items: center;
  justify-content: space-between;
}

.sortSelect {
  border: 1px solid black;
  height: 25px;
  width: 85px;
  border-radius: 5px;
}

.note-title {
  font-family: "Oxygen", sans-serif;
  width: -webkit-fill-available;
  margin: 10px;
  height: 50px;
  font-size: large;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 0px;
  padding-left: 10px;
  background: ghostwhite;
  border: 2px #afbaaf4d solid;
}

.add-btn {
  border: 1px solid black;
  height: 25px;
  width: 80px;
  font-weight: 700;
  border-radius: 5px;
  background-color: rgb(186, 228, 181);
}

.add-btn:focus {
  outline-color: #e9e9e9;
  outline-width: 8px;
  outline-offset: -4px;
}

input:focus {
  outline-color: #c2e3d6;
  outline-width: 5px;
}

.note-body {
  margin: 10px;
  width: -webkit-fill-available;
  font-family: "Cormorant Garamond", serif;
  height: 200px;
  max-height: 200px;
  min-height: 200px;
  min-width: -webkit-fill-available;
  max-width: -webkit-fill-available;
  font-size: medium;
  padding: 10px;
  background: ghostwhite;
  border: 2px #afbaaf4d solid;
  font-size: larger;
}

.addForm {
  visibility: hidden;
  position: absolute;
  /* max-width: 700px; */
  /* display: absolute; */
}

.testing {
  visibility: visible;
  width: 100%;
  height: 100%;
  background: #eff9ee;
  opacity: 1;
  position: absolute;
  top: 106px;
  right: 3px;
  padding-top: 12%;
}

.close {
  color: #747474;
  margin: 10px;
  font-size: large;
  position: relative;
  padding: 12px;
  background: ghostwhite;
  border: 2px #afbaaf4d solid;
  font-size: larger;
}

.submit-btn {
  background: rgb(186, 228, 181);
  padding: 10px;
}

.form-title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.noteHolder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-edit {
  width: 97%;
}

.title-edit {
  width: 99%;
}

.note {
  margin-bottom: 0.25em;
  background-color: white;
  width: 80vw;
  max-width: 700px;
  border: 1px solid black;
  border-radius: 2px;
}

.noteButton {
  background: rgb(99, 173, 156);

  border: 1px solid black;
  border-radius: 2px;
}

.noteHeader {
  display: flex;
  /* flex-direction: row; */
  background-color: rgb(186, 228, 181);
  border-bottom: 1px solid black;
  justify-content: space-between;
}

.noteTitle {
  margin: 0;
}

.noteContent {
  margin: 0;
  padding: 0.5em;
}

.pinButton {
  border: none;
  cursor: pointer;
  background: none;
  /* background: rgb(22, 120, 86); */
}

.pinned {
  background: rgb(99, 173, 156);
}

a:-webkit-any-link {
  background: #a8bd6b73;

  cursor: pointer;
  text-decoration: none;
}

.form-sends {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 2px;
}

input[type="checkbox"i] {
  margin: 10px;
}

.login-bar {
  font-size: large;
}
