<p>notes works!</p>
<div class="container">
  <div class="add-bar">
    <button class="add-btn">NEW</button>
    <div>Sort By:
      <select>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
      </select>
    </div>
  </div>
  <form (submit)="addNote()">
    <input class="note-title" type="text" name="newNoteTitle" placeholder="Note Title!" [(ngModel)]="newNoteTitle" />
    <label for="newNotePinned"></label>
    <input class="pinned-btn" name="newNotePinned" type="checkbox" [(ngModel)]="newNotePinned" />
    <textarea class="note-body" name="newNoteContent" placeholder="place text here" [(ngModel)]="newNoteContent">
  </textarea>
  </form>
</div>
<article *ngFor="let note of resultNotes">
  <h2>{{ note.title }}</h2>
  <p>{{ note.content }}</p>
</article>
