/* font-family: 'Oxygen', sans-serif;
font-family: 'Cormorant Garamond', serif; */
.container {
  padding: 10px;
  margin: 10px;

  height: 285px;
}

.add-bar {

  height: 30px;
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: space-between;
}

.note-title {
  font-family: 'Oxygen', sans-serif;
  width: -webkit-fill-available;
  margin: 10px;
  text-align: center;
  height: 50px;
  font-size: large;
  color: black;
  border: none;
  border-radius: 10px;
  width: 250px;
}

.add-btn {

  background: linear-gradient(132deg, rgba(255, 255, 255, 1) 0%, rgba(237, 255, 242, 1) 100%);
  font-family: 'Cormorant Garamond', serif;
  color: #6868b6;
  height: 15px;
  border-radius: 5px;
  width: 65px;
  height: 35px;
}

.sort-by {
  background: linear-gradient(132deg, rgba(255, 255, 255, 1) 0%, rgba(237, 255, 242, 1) 100%);
  font-family: 'Cormorant Garamond', serif;
  color: #6868b6;
  height: 15px;
  border-radius: 5px;
  width: 106px;
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: space-between;
  height: 43px;
}


.add-btn:focus {
  outline-color: #e9e9e9;
  outline-width: 8px;
  outline-offset: -4px;

}

input:focus {
  outline-color: #C2E3D6;
  outline-width: 5px;
}



.note-body {
  margin: 10px;
  width: -webkit-fill-available;
  font-family: 'Cormorant Garamond', serif;
  height: 200px;
  max-height: 200px;
  min-height: 200px;
  min-width: -webkit-fill-available;
  max-width: -webkit-fill-available;
  font-size: medium;
}

.addForm {
  visibility: hidden;
  ;
}

.testing {
  visibility: visible;
  width: 100%;
  height: 100%;
  background: #eff9ee;
  opacity: 1;
  position: absolute;
  top: 106px;
  right: 3px;
  padding-top: 12%;
}

.close {
  color: #747474;

  margin: 10px;
  font-size: large;
  position: relative;

  background: white;
  padding: 12px;
}
