* {
  margin: 0;
  padding: 0;
}
.formHolder {
  display: flex;
  justify-content: center;
}
form {
  height: 50px;
  transform: scale(1.2);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.searchType {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border: 1px solid black;
}
.searchBox {
  padding-left: 5px;
  border-left: none;
  border-right: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.searchCategory {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.submit {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background: none;
  font-size: 1em;
  border-left: none;
  border: 1px solid black;
}
.resultsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  margin: 5px;
}
.card img,
ul {
  width: 200px;
  height: 200px;
  border-radius: 25%;
  border: 2px solid black;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.card.front,
.card.back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card h2,
p {
  width: 250px;
  flex: 1;
  min-height: 75px;
  border: 2px solid black;
  border-radius: 10%;
}
