<!-- <p>search works!</p> -->
<!-- 
    TO DO: 
    -add form
    -connect to API/ db service as appropriate
-->
<section class="formHolder">
  <form (submit)="cocktailSearch()">
    <select name="searchType" [(ngModel)]="searchType" class="searchType">
      <option value="Name">Name</option>
      <option value="Ingredient">Ingredient</option>
      <option value="Category">Category</option>
    </select>
    <!-- <label for="search">Search</label> -->
    <input
      type="text"
      name="searchTerm"
      class="searchBox"
      placeholder="{{ placeHolder }}"
      [(ngModel)]="searchTerm"
      *ngIf="searchType !== 'Category'"
    />
    <select
      name="searchCategory"
      id=""
      class="searchCategory"
      *ngIf="searchType === 'Category'"
      [(ngModel)]="searchCategory"
    >
      <option value="Cocktail">Cocktail</option>
      <option value="Shot">Shot</option>
      <option value="Ordinary_Drink">Ordinary Drink</option>
      <option value="Milk_/_Float_/_Shake">Milk/ Float/ Shake</option>
      <option value="Beer">Beer</option>
      <option value="Other/Unknown">Other</option>
    </select>
    <button type="submit" class="submit material-icons">search</button>
  </form>
</section>
<section class="resultsBox">
  <article *ngFor="let cocktail of resultsList">
    <!-- <div style="background-image: {{ cocktail.img }}; width: 100px"></div> -->
    <div
      *ngIf="!cocktail.front"
      (click)="flip(cocktail)"
      class="card front"
    >
      <img src="{{ cocktail.img }}" alt="" />
      <h2>{{ cocktail.name }}</h2>
    </div>
    <div
      *ngIf="cocktail.front"
      (click)="cocktail.front = !cocktail.front"
      class="card back"
    >
      <ul>
        <li *ngFor="let ingredient of cocktail.ingredients">
          {{ ingredient }}
        </li>
      </ul>
      <p>{{ cocktail.instructions }}</p>
    </div>
  </article>
</section>
