* {
  margin: 0;
  padding: 0;
}
.blur {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  background-color: rgba(99, 99, 99, 0.7);
}
.errorMsg {
  background-color: rgb(99, 173, 156);
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formHolder {
  display: flex;
  justify-content: center;
}
form {
  height: 50px;
  transform: scale(1.2);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.searchType {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border: 1px solid black;
}
.searchBox {
  padding-left: 5px;
  border-left: none;
  border-right: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.searchCategory {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.submit {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background: none;
  font-size: 1em;
  border-left: none;
  border: 1px solid black;
}
/* 
  THE ABOVE WOULD BE FOR  THE SEARCHBAR, ALL BELOW IS STYLING FOR THE SEARCH RESULT
  ITEMS AND RELATED ATTRIBUTES
*/
.resultsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 250px;
  /* height: 260px; */
  margin: 5px;
}
img {
  width: 250px;
  height: 250px;
  margin-bottom: -5px;
}
.infoBar {
  padding: 0 5px;
  background-color: rgb(99, 173, 156);
  margin: 0;
  min-height: 25px;
  display: flex;
  justify-content: space-between;
}
/* favorite doesn't work yet to recognize favs on page */
/* .favorite {
  background: rgb(99, 173, 156);
} */
.backTop {
  width: 250px;
  min-height: 250px;
  background: rgb(130, 206, 169);
}

ul {
  display: flex;
  padding-left: 25px;
  /* list-style: none; */
  flex-direction: column;
  justify-content: center;
}
