<div class="body">
  <section class="header">
    <video playsinline autoplay muted loop id="myVideo">
      <source src="/assets/CocktaliMainBackground.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
    <nav class="homeLinkHolder">
      <div class="search-div">
        <a routerLink="search" class="searchLink"><span class="search-span"> search</span></a>
      </div>
      <div class="nav-bar">
        <a routerLink="notes" id="nav-text" class="homeLink">notes</a>
        <a routerLink="saved" id="nav-text" class="homeLink">saved</a>
        <div *ngIf="loggedIn" id="nav-text">
          Logged in as <a href="#">{{ userName }}</a>
        </div>
        <a routerLink="sign" *ngIf="!loggedIn" id="nav-text">log in/ sign up</a>
      </div>
    </nav>
    <div><img class="logo-img" src="/assets//newlogo.png"></div>
    <div><img class="logo-text" src="/assets//CocktaliWordsLogo.png"></div>
  </section>


</div>
