<div class="body">
  <section class="header">
    <video playsinline autoplay muted loop id="myVideo">
      <source src="/assets/CocktaliMainBackground.mp4" type="video/mp4" />
      Your browser does not support HTML5 video.
    </video>
    <nav class="homeLinkHolder">
      <div class="search-div">
        <a routerLink="search" class="searchLink"><span class="search-span"> SEARCH</span></a>
      </div>
    </nav>
    <!-- <div><img class="logo-img" src="/assets//newlogo.png" /></div>
    <div><img class="logo-text" src="/assets//CocktaliWordsLogo.png" /></div> -->
  </section>
</div>
<!-- for mobile -->
<div class="body2">
  <div class="body2-content">
    <section>
      <h3 class="body2-text">Welcome to <span class="body2-span"> Cocktali </span></h3>
      <p class="body2-text body2p">Cocktali is a <span class="body2-span">tool</span> for <span class="body2-span">
          bartenders</span>.</p>
    </section>
    <div class="body2-btn">
      <button>SEARCH</button>
    </div>
  </div>
</div>
