<div class="body">
  <section class="header">
    <video playsinline autoplay muted loop id="myVideo">
      <source src="/assets/CocktaliMainBackground.mp4" type="video/mp4" />
      Your browser does not support HTML5 video.
    </video>
    <nav class="homeLinkHolder">
      <div class="search-div">
        <a routerLink="search" class="searchLink"
          ><span class="search-span"> SEARCH</span></a
        >
      </div>
    </nav>
    <!-- <div><img class="logo-img" src="/assets//newlogo.png" /></div>
    <div><img class="logo-text" src="/assets//CocktaliWordsLogo.png" /></div> -->
  </section>
</div>
<div class="body2">
  <button>search</button>
  <section>
    <h3>about cocktali</h3>
    <p>cocktali is a tool for bartenders</p>
  </section>
</div>
